.section-login .content {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.section-login .info-form .form-group>span {
    position: relative;
}

.section-login .content .info {
    max-width: 450px;
    width: 100%;
}
.section-login .info-form .form-group span.show-btn {
    position: absolute;
    right: 15px;
    bottom: 17px;
}
.section-login .content .info>ul {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.section-login .content .info>ul>li {
    list-style: none;
    flex: 0 0 50%;
    margin-bottom: 0;
}

.section-login .content .info>ul>li>a {
    display: block;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000;
    position: relative;
    z-index: 0;
}

.section-login .content .info>ul>li>a.active {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.section-login .content .info .logo {
    margin-bottom: 30px;
}

.section-login .content .info .info-form {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    padding: 40px;
    position: relative;
    z-index: 5;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section-login .content .info .info-form .form-group .form-control {
    border: 1px solid #e4e6ea;
    height: 58px;
    padding: 8px 8px 8px 18px;
    border-radius: 12px;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
    font-size: 16px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #000;
    text-decoration: revert;
}

.section-login .content .info .info-form .btn {
    width: 100%;
    margin-bottom: 30px;
}

.section-login .content .info .info-form .or {
    position: relative;
    margin-bottom: 30px;
}

.section-login .content .info .info-form .or:before {
    content: '';
    position: absolute;
    top: 10px;
    width: calc(100%  + 80px);
    height: 1px;
    background: #f4f4f4;
    left: 50%;
    transform: translateX(-50%);
}

.section-login .content .info .info-form .login-app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section-login .content .info .info-form .or span {
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 0 5px;
}

.section-login .content .info .info-form .login-app .btn-login {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.section-login .content .info .info-form .login-app .btn-login img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.section-login .content .info .info-form .login-app .item.item-apple .btn-login {
    background: #000;
    color: #fff;
    font-size: 22px;
}

.section-login .content .info .info-form .login-app .item.item-facebook .btn-login {
    background-color: #1877f2;
}
.section-login .content .info .info-form .form-group {
    margin-bottom: 15px;
}