.section-profile .menu-profile {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.section-profile .menu-profile .title {
    padding: 25px 30px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    font-weight: 700;
}

.section-profile .menu-profile .link-profile {
    padding: 25px 30px;
}

.section-profile .menu-profile .link-profile>ul {
    padding-left: 0;
}

.section-profile .menu-profile .link-profile>ul>li {
    list-style: none;
    margin-bottom: 20px;
}

.section-profile .menu-profile .link-profile>ul>li>a {
    display: block;
    color: #8a8a8a;
}

.section-profile .menu-profile .link-profile>ul>li>a.active {
    color: #000;
}

.content-profile .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}



.content-profile .form .form-group {
    position: relative;
}

.content-profile .form .form-group input {
    border: 1px solid #e4e6ea;
    height: 58px;
    padding: 8px 8px 8px 18px;
    border-radius: 12px;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
    font-size: 16px;
}

.content-profile .form .form-group span {
    position: absolute;
    bottom: 13px;
    right: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 20px;
    display: inline-block;
    font-size: 14px;
    z-index: 9;
}

.info-profile-bottom {
    margin-top: 50px;
}

.info-profile-bottom .title {
    font-size: 16px;
    margin-bottom: 10px;
}

.info-profile-bottom .btn-action {
    border: 1px solid red;
    color: red;
    padding: 5px 0;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.info-profile-bottom .btn-action {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.info-profile-bottom .btn-action:hover {
    background: red;
    color: #fff;
}

.content-profile .form .btn {
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
}
.section-modal-password .modal-content .close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: #4a4a4a;
    opacity: 1;
    font-weight: 400;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 27px;
    border-radius: 50%;
    font-size: 12px;
    z-index: 999;
    padding: 0;
    border: 0;
}

.section-modal-password .modal-content .modal-body .info .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
}

.section-modal-password .modal-content .modal-body .form-group span {
    position: relative;
}

.section-modal-password .modal-content .modal-body .form-group span .form-control {
    border: 1px solid #e4e6ea;
    height: 58px;
    padding: 8px 8px 8px 18px;
    border-radius: 12px;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
    font-size: 16px;
}

.section-modal-password .modal-content .modal-body .form-group span span.show-btn {
    position: absolute;
    right: 15px;
    bottom: 17px;
    z-index: 9;
}

.section-modal-password .modal-content .modal-body {
    padding: 30px;
}

.section-modal-password .modal-content .modal-body .btn {
    width: 100%;
}

.section-my-sim .item-sim {
    background: linear-gradient(90deg, rgb(45, 47, 160) 0px, rgb(21, 127, 213));
    border-radius: 7px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-my-sim .item-sim .top {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid hsla(0, 0%, 93%, 0.1);
}

.section-my-sim .item-sim .top .img {
    position: relative;
    padding-top: 61%;
    border-radius: 10px;
    overflow: hidden;
}

.section-my-sim .item-sim .top .left {
    flex: 0 0 55%;
    max-width: 55%;
}

.section-my-sim .item-sim .top .right {
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: -30px;
}

.section-my-sim .item-sim .top .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.section-my-sim .item-sim .top .left .title {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2px;
}

.section-my-sim .item-sim .top .left .code {
    font-size: 12px;
    color: #fff;
}

.section-my-sim .item-sim .center>ul {
    padding-left: 0;
}

.section-my-sim .item-sim .center>ul>li {
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid hsla(0, 0%, 93%, 0.1);
    display: flex;
    justify-content: space-between;
}

.section-my-sim .item-sim .bottom>ul {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
}

.section-my-sim .item-sim .bottom>ul>li {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
}

.section-my-sim .item-sim .bottom>ul>li a {
    border: 1px solid #fff;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.section-my-sim .item-sim .bottom {
    padding: 20px;
}

.section-my-sim .item-sim .bottom>ul>li a.top-up:hover {
    background: #fff;
    color: var(--color-highlight);
}

.section-my-sim .item-sim .bottom>ul>li a.detail {
    background: #fff;
    color: var(--color-highlight);
}

.section-my-sim .item-sim .bottom>ul>li a.detail:hover {
    color: #fff;
    background: none;
}

.section-my-sim .item-sim .center>ul>li>span {
    color: #fff;
    font-size: 14px;
}

.section-my-sim .item-sim .center>ul>li>span>i {
    margin-right: 10px;
}

.section-my-sim .list-my-sim {
    margin-bottom: 30px;
}

.section-my-sim .list-my-sim .info-note .title {
    font-size: 27px;
}

.section-my-sim .info .info-note .title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-my-sim .info .info-note .slogan {
    margin-bottom: 30px;
}

.section-my-sim .info .info-note  .link-more .btn {
    width: 100%;
    max-width: 350px;
}

.section-my-sim {
    background: #fafafa;
    padding: 50px 0;
}

.section-my-sim-detail {
    background: linear-gradient(90deg, rgb(45, 47, 160) 0px, rgb(21, 127, 213));
    padding: 60px 0 80px;
}



.section-my-sim-detail .info .info-detail {
    color: #fff;
}

.section-my-sim-detail .info .info-detail .name {
    font-size: 27px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
}

.section-my-sim-detail .info .info-detail .number, .section-my-sim-detail .info .info-detail .coverage {
    margin-bottom: 35px;
    font-size: 14px;
}

.section-my-sim-detail .info .info-detail .number .title {
    color: #fff;
}

.section-my-sim-detail .info .info-detail .show-more .btn-more {
    border: 1px solid #fff;
    font-size: 12px;
    padding: 6px 40px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.section-my-sim-detail .info .img {
    border-radius: 15px;
    overflow: hidden;
}
.section-installation-esim .info {
    position: relative;
}

.section-installation-esim .info .warning {
    background: linear-gradient(90deg,#ff512f,#f09819);
    border-radius: 7px;
    bottom: 0;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    overflow: hidden;
    padding: 11px 20px 10px;
    width: auto;
    margin-top: -38px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
}

.section-installation-esim .info>.title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.btn-adr-ios {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
    color: #4a4a4a;
    cursor: pointer;
    padding: 27px 20px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-adr-ios>span>i {
    margin-right: 10px;
    font-size: 16px;
}

.info-adr-ios {
    margin-bottom: 50px;
}

.section-installation-esim .info .data-usage {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 50px;
}

.section-installation-esim .info .data-usage .title {
    border-bottom: 1px solid #eee;
    padding: 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-installation-esim .info .data-usage .title span {
    font-size: 14px;
    font-weight: 500;
}

.section-installation-esim .info .data-usage .info {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.section-installation-esim .info .data-usage .info .left {
    flex: 0 0 50%;
    max-width: 50%;
    border-right: 1px solid #ddd;
}

.section-installation-esim .info .data-usage .info .left .info-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 21px 18px;
}

.section-installation-esim .info .data-usage .info .left .info-data svg {
    height: 80px;
    margin-bottom: -37px;
}

.section-installation-esim .info .data-usage .info .left .info-data .data {
    margin-bottom: 10px;
}

.section-installation-esim .info .data-usage .info .name {
    font-size: 12px;
    font-weight: 500;
    color: #8a8a8a;
}

.section-installation-esim .info .data-usage .info .right {
    flex: 0 0 50%;
    max-width: 50%;
}

.section-installation-esim .info .data-usage .info .right .top, .section-installation-esim .info .data-usage .info .right .bottom {
    height: 50%;
    padding: 15px 15px 0;
}

.section-installation-esim .info .data-usage .info .right .top {
    border-bottom: 1px solid #ddd;
}

.section-installation-esim .info .data-usage .info .data {
    font-size: 14px;
}

.section-installation-esim .info .data-usage .info-wrapper {
    padding: 20px;
}

.section-installation-esim .info .data-usage .info-wrapper p {
    margin-bottom: 0;
    font-size: 15px;
    color: #2c2c2c;
}

.section-installation-esim .info .data-usage .info-wrapper .title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-installation-esim .info .data-usage .info-wrapper .title-btn span.btn {
    padding: 5px 20px;
    font-size: 12px;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
}

.section-installation-esim .info .data-usage .info-wrapper .title-btn span {
    font-size: 12px;
    font-weight: 500;
}

.section-installation-esim .info .data-usage .info-wrapper .title-btn span i {
    margin-right: 10px;
    font-size: 16px;
}
.data-usage.data-usage-my .info {
    padding: 20px;
}

.data-usage.data-usage-my .info .item {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.data-usage.data-usage-my .info .item span.btn {
    background: linear-gradient(90deg, rgb(45, 47, 160) 0px, rgb(21, 127, 213));
    padding: 6px 20px;
    font-size: 12px;
    border-radius: 5px;
}

.data-usage.data-usage-my .info .item.note {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    font-size: 13px;
}

.data-usage.data-usage-my .info .item:last-child {
    margin-bottom: 0;
}
.topup-packages .item {
    border-radius: 7px;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
    padding: 20px;
    background: linear-gradient(90deg, rgb(45, 47, 160) 0px, rgb(21, 127, 213));
    color: #fff;
    margin-bottom: 20px;
}

.topup-packages .item .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topup-packages .item .name-price span {
    font-size: 14px;
    font-weight: 500;
}

.topup-packages .item .name-price span i {
    margin-right: 10px;
    font-size: 16px;
}

.topup-packages .item .name-price span.btn {
    padding: 7px 20px;
    border: 1px solid #fff;
    font-size: 14px;
}

.topup-packages .item .date-day {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.topup-packages .item .date-day span.data {
    font-size: 30px;
    font-weight: 500;
}
.topup-packages {
    margin-bottom: 30px;
}

.section-installation-esim .info .link a {
    width: 100%;
    max-width: 350px;
}
.section-show-more .modal-content .modal-body {
    padding: 0;
}

.section-show-more .title {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0 !important;
}

.section-show-more .info .item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-show-more .info .item span.item-left {
    display: flex;
    align-items: center;
}

.section-show-more  .info .item span.item-left i {
    margin-right: 10px;
}

.section-show-more .info .item span.item-left span .name {
    font-size: 12px;
    color: #8a8a8a;
    font-weight: 500;
}

.section-show-more .info .item span.item-left span .info-network-list {
    font-size: 13px;
}

.section-show-more .item span.item-left span .info-network-list span {
    color: #7f7d7d;
    font-size: 14px;
    border: 2px solid #7f7d7d;
    padding: 1px 3px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    font-weight: 700;
}

.section-show-more .info .item span.item-left span .info-network {
    font-size: 13px;
}

.section-android-device .modal-dialog {
    max-width: 700px;
}

.section-android-device .modal-body {
    padding: 0 !important;
}

.section-android-device .info>.title {
    padding: 25px 30px;
    margin-bottom: 0 !important;
}

.section-android-device .info>.nav {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
}

.section-android-device .info>.nav>li.nav-item a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    color: #000;
    border: 1px solid #ddd0;
    border-bottom: 0;
    margin-bottom: -1px;
}

.section-android-device .info>.nav>li.nav-item a.active {
    border-color: #ddd;
    background: #fff;
}

.section-android-device .info .tab-content {
    padding: 30px;
    font-size: 14px;
}

.section-android-device .info .tab-content .installation {
    margin-bottom: 30px;
}

.section-android-device .info .tab-content .installation .item {
    border-radius: 7px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
    display: flex;
    min-height: 75px;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    font-size: 13px;
    line-height: 1.2;
    align-items: center;
    color: #fff;
}

.section-android-device .info .tab-content .installation .item i {
    font-size: 35px;
    margin-right: 10px;
}

.section-android-device .info .tab-content .installation .item.item-left {
    background-color: #7ec027;
}

.section-android-device .info .tab-content .installation .item.item-right {
    background: linear-gradient(90deg,#ff512f,#f09819);
}

.section-android-device .info .tab-content .info .title {
    padding: 0;
    font-size: 15px;
    margin-bottom: 10px !important;
}

.section-android-device .info .tab-content .info .tab-brand>ul>li>a {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 35px;
    cursor: pointer;
}

.section-android-device .info .tab-content .info .tab-brand>ul>li {
    margin-right: 15px;
}

.section-android-device .info .tab-content .info .tab-brand>ul>li>a.active {
    background: #000;
    color: #fff;
}

.tab-brand .install .item-left {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 7px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.tab-brand .item-left .img-qr {
    text-align: center;
}

.tab-brand .install .item-left .img-qr {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
    padding: 10px;
    max-width: 170px;
    margin: 0 auto;
    height: 170px;
    margin-bottom: 30px;
}

.tab-brand .item-left .img-qr img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.tab-brand .install .item-left .note {
    text-align: center;
    font-size: 12px;
}

.tab-brand .install .item-right p {
    margin-bottom: 5px;
}

.section-android-device .info .tab-content .info .tab-brand .title {
    margin-bottom: 20px !important;
}

.section-android-device .info .tab-content .info .tab-brand>ul {
    margin-bottom: 20px !important;
}

.tab-brand .install {
    margin-bottom: 30px;
}

.section-android-device .access .item {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.section-android-device .access .item .item-value {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-android-device .access .item .item-value span.item-left .info-network-list>span {
    font-size: 16px;
    border: 2px solid #302f2f;
    line-height: 1;
    padding: 0 5px;
    display: inline-block;
    color: #302f2f;
    border-radius: 4px;
}

.section-android-device .access .item .item-value span.item-left .name {
    font-weight: 700;
    color: #727272;
}

.section-android-device .access .item .item-value:last-child {
    border-bottom: 0;
}

.installation-device-type-list p {
    margin-bottom: 5px;
}
.section-android-device .info .tab-content .info .tab-brand .access a.btn {
    max-width: 350px;
    margin-top: 30px;
}
.section-android-device .info .tab-brand .tab-content {
    padding: 0;
}
.tab-brand .install .item-left.item-device {
    padding: 0;
}

.tab-brand .install .item-left.item-device .item-value {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-brand .install .item-left.item-device .item-value .item-head {
    flex: 0 0 90%;
    max-width: 90%;
}

.tab-brand .install .item-left.item-device .item-value .item-head .name {
    font-size: 12px;
    font-weight: 600;
}

.tab-brand .install .item-left.item-device .item-value .item-head .value {word-wrap: break-word;font-size: 13px;}

.tab-brand .install .item-left.item-device p {
    padding: 20px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
}
@media (min-width:1200px){
    .section-profile>.container {
        max-width: 1180px;
    }
    .section-my-sim-detail .container, .section-installation-esim .container {
        max-width: 900px;
    }
}
@media (max-width: 992px){
        
    .section-profile .info>.row>div:nth-child(1) {
        order: 2;
    }

    .content-profile .form .btn {
        width: 100%;
        max-width: 100%;
    }

    .info-profile-bottom {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px){
    .section-my-sim-detail .info .info-detail .name {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .section-my-sim-detail .info .info-detail .number, .section-my-sim-detail .info .info-detail .coverage {
        margin-bottom: 20px;
    }
    .section-my-sim-detail .info .info-detail .name {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .section-my-sim-detail .info .info-detail .number, .section-my-sim-detail .info .info-detail .coverage {
        margin-bottom: 20px;
    }

    .info-adr-ios .btn-adr-ios {
        margin-bottom: 10px;
    }

    .info-adr-ios {
        margin-bottom: 20px;
    }

    .section-installation-esim .info .data-usage .info-wrapper p {
        font-size: 14px;
    }
    .section-installation-esim .info .data-usage {
        margin-bottom: 30px;
    }
    .section-android-device .info .tab-content .installation .item {
        margin-bottom: 10px;
    }

    .section-android-device .info .tab-content {
        padding: 15px;
    }

    .section-android-device .info .tab-content .installation {
        margin-bottom: 10px;
    }

    .tab-brand .install .item-left, .section-android-device .access .item, .section-installation-esim .info .warning {
        margin-bottom: 20px;
    }
    .section-android-device .info .tab-content .info .tab-brand>ul>li>a {
        padding: 5px 15px;
    }
    .section-android-device .info>.nav {
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }

    .section-android-device .info>.nav>li.nav-item a {
        margin-bottom: 0;
        border-radius: 5px;
        border: 0;
    }

    .section-android-device .info>.nav>li.nav-item a.active {background: #ededed;}
}