@font-face {
    font-family: "URWDIN";
    src: url("../fonts/URWDIN-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URWDIN";
    src: url("../fonts/URWDIN-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URWDIN";
    src: url("../fonts/URWDIN-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URWDIN";
    src: url("../fonts/URWDIN-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "URWDIN";
    src: url("../fonts/URWDIN-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:focus-visible {
    outline: none;
}
.table th,
.table td {
    color: var(--color-text);
}
.form-group label {
    margin-bottom: 10px;
}
:root {
    --color-highlight: #03188f;
    --color-main: #ff6500;
    --color-text: #00172e;
    --color-black: #252525;

    --white: #fff;
    --black: #000;
    --light: #f4f5f6;
}
ul {
    padding-left: 20px;
}
.font-weight-bold{
    font-weight: bold;
}
.ratio-1-1 {
    padding-top: 100%;
    position: relative;
}
.ratio-4-3 {
    padding-top: 75%;
    position: relative;
}
.ratio-3-2 {
    padding-top: 62%;
    position: relative;
}
.ratio-16-9 {
    padding-top: 56%;
    position: relative;
}
.ratio-130 {
    padding-top: 130%;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 15px;
}
h1,
.h1 {
    font-size: 30px;
}

h2,
.h2 {
    font-size: 25px;
}

h3,
.h3 {
    font-size: 20px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 15px;
}
a {
    text-decoration: none;
}
.btn-highlight {
    color: #fff;
    background-color: var(--color-highlight);
    border-color: var(--color-highlight);
}

.btn-highlight:hover {
    color: var(--color-highlight);
    background-color: #fff;
    border-color: var(--color-highlight);
}
.rtbs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mr-15 {
    margin-right: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.fw-500 {
    font-weight: 500;
}
.bg-gradient {
    background-image: linear-gradient(left, #058dc2, #4abab9);
    background-image: -webkit-linear-gradient(left, #058dc2, #4abab9);
    background-image: -o-linear-gradient(left, #058dc2, #4abab9);
    background-image: -moz-linear-gradient(left, #058dc2, #4abab9);
}
.color-main {
    color: var(--color-main);
}
ul {
    margin-bottom: 0 !important;
}

b,
strong {
    font-weight: bold !important;
}

html,
body {
    font-family: "URWDIN", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    color: var(--color-text);
    overflow-x: hidden;
}

.container-fluid,
.container-fluid .row > div {
    padding-right: 0;
    padding-left: 0;
}
img {
    max-width: 100%;
}
.btn {
    align-items: center;
    border-radius: 7px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1;
    transition: all 0.2s;
    font-size: 14px;
    font-weight: 500;
    padding: 17px 20px 16px;
}
/*header*/

.header-top > .container > .row {
    display: flex;
    align-items: center;
}

.header-top > .container {
    max-width: 1530px;
}

.logo img {
    height: 120px;
    object-fit: contain;
}

.header-top > .container > .row > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-user > ul,
.section-lang > ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.section-user > ul > li,
.section-lang > ul > li {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.section-user > ul > li > a,
.section-lang > ul > li > a {
    color: #4b4b4b;
    font-size: 16px;
}

.header-top {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.section-user,
.section-lang {
    padding-right: 25px;
    margin-right: 25px;
    position: relative;
}

.section-user:before,
.section-lang:before {
    content: "";
    position: absolute;
    right: 0;
    top: 61%;
    height: 13px;
    width: 1px;
    background: #a2a2a2;
    transform: translateY(-50%);
}

.section-cart {
    margin-left: 25px;
    position: relative;
}

.section-cart a,
.search-section a {
    color: #4b4b4b;
    font-size: 18px;
    position: relative;
    display: inline-block !important;
}

.section-user > ul > span {
    padding-left: 5px;
    padding-right: 5px;
}
.section-user > ul > li > a i,
.section-lang > ul > li > a i {
    font-size: 18px;
    margin-right: 5px;
}

/*slider*/
.section-banner-search-top {
    background: #fff;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}

.section-banner-search-top .item-left {
    max-width: 500px;
    margin-bottom: 20px;
    padding-top: 80px;
}

.section-banner-search-top .item-left .title {
    font-size: 18px;
    margin-bottom: 10px;
}

.section-banner-search-top .item-left .slogan {
    font-size: 62px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-banner-search-top .item-left .slogan span {
    color: var(--color-main);
}

.section-banner-search-top .item-left .form-search {
    max-width: 450px;
    margin-bottom: 30px;
}

.form-search .info-form-search {
    position: relative;
    margin: 15px;
}

.form-search .info-form-search .form-group {
    position: relative;
}

.form-search .info-form-search .form-group {
    border: 1px solid #e4e6ea;
    height: 64px;
    padding: 8px 8px 8px 18px;
    border-radius: 16px;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
    font-size: 18px;
    display: flex;
    align-items: center;
    background: #fff;
}

.form-search .info-form-search .form-group input.form-control {
    height: 30px;
    padding: 0;
    border: 0;
    font-size: 17px;
    margin-left: 15px;
}

.section-banner-search-top .item-left .form-search .info-form-search .form-group span img {
    width: 30px;
    height: 30px;
}

.section-banner-search-top .item-left .form-search .info-form-search .form-group span {
    padding-right: 10px;
    position: relative;
}

.section-banner-search-top .item-left .form-search .info-form-search .form-group span:before {
    content: "";
    position: absolute;
    right: 0;
    height: 15px;
    width: 1px;
    background: #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.section-banner-search-top .item-left .description {
    margin-bottom: 30px;
}

.form-search .info-form-search .btn {
    height: 54px;
    width: 48px !important;
    padding: 0;
    background: var(--color-highlight);
    border-radius: 14px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
    color: #fff;
    font-size: 18px;
}
.img-banner-search {
    padding-top: 110%;
}
.section-banner-search-top .item-left .slogan-bottom {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-banner-search-top .item-left a.link-asm {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #03a9f4;
    font-style: italic;
}

.section-banner-search-top .item-left p {
    color: #999;
    font-weight: 500;
}
ul.link-app-star {
    padding-left: 0;
    display: flex;
    align-items: center;
}

ul.link-app-star > li {
    list-style: none;
    margin-right: 15px;
}

ul.link-app-star li > a > img {
    width: 35px;
}

ul.link-app-star span.star img {
    height: 22px;
}

ul.link-app-star span.star {
    margin-right: 20px;
}

/*tab*/
.section-tab-list-sim {
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    padding-bottom: 50px;
}

.section-tab-list-sim .content-domain .item-table .nav-tabs {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    border-bottom: 0;
}

.section-tab-list-sim .content-domain .item-table .nav-tabs > li.nav-item > .nav-link.active {
    background-color: #fafafa;
    border-color: #ddd;
    border-radius: 7px 7px 0 0;
    color: #4a4a4a;
    line-height: 1.3333;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.section-tab-list-sim .content-domain .item-table .nav-tabs > li.nav-item > .nav-link {
    line-height: 1.3333;
    padding: 17.5px 20px 10.5px;
    color: #8a8a8a;
    border: 1px solid #fff0;
}

.info-sim .title-tab {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}

.info-sim .list .item {
    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
}

.info-sim .list .item a {
    display: flex;
    align-items: center;
}

.info-sim .list .item .img img {
    width: 40px;
}

.info-sim .list .item a {
    padding: 13px 20px 12px;
    color: #4a4a4a;
    font-weight: 500;
}

.info-sim .list .item .img {
    margin-right: 15px;
}

.info-sim .list .item .name-icon {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;
}
.link-view a {
    width: 350px;
    font-size: 12px;
}
.section-device {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 80px 0;
}

.title-section {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 500;
}

.title-section span {
    color: var(--color-highlight);
}

.section-device .title-section {
    max-width: 450px;
}

.section-device .description {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 800px;
}

.section-device .tab-device .nav-tabs {
    border-bottom: 0;
    margin-bottom: 15px !important;
}

.section-device .tab-device .nav-tabs li.nav-item > .nav-link {
    padding: 0;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    color: #000;
    font-weight: 500;
    font-size: 23px;
}

.section-device .tab-device .nav-tabs li.nav-item {
    padding-right: 60px;
    border-bottom: 1px solid #ddd;
}

.section-device .tab-device .nav-tabs li.nav-item > .nav-link:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-highlight);
    bottom: 0;
}

.section-device .tab-device .nav-tabs li.nav-item > .nav-link.active:before {
    width: 100%;
}

.section-device .tab-device .nav-tabs li.nav-item:last-child {
    padding-right: 0;
}

.content-tab-device {
    max-width: 650px;
}

.content-tab-device > ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.content-tab-device > ul > li {
    list-style: none;
    margin-bottom: 15px;
    flex: 0 0 50%;
}

.content-tab-device > ul > li > i {
    color: #7b7b7b;
    margin-right: 10px;
}

.content-tab-device .link {
    margin-bottom: 15px;
}

.content-tab-device .link a,
.section-benefit .info .link a {
    text-decoration: underline;
    color: var(--color-highlight);
    font-size: 16px;
}

.content-tab-device .note {
    color: #727272;
}

.section-step {
    padding: 80px 0 0;
}

.section-step .content-top .link-why {
    margin-bottom: 40px;
}

.content-top .link-why span {
    background: var(--color-highlight);
    padding: 20px 30px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
}

.content-top .link-why span a {
    color: #fff;
    font-weight: 500;
    font-style: italic;
    margin-right: 3px;
}

.section-step .content-top .title {
    font-weight: 500;
    margin-bottom: 5px;
}

.section-step .content-top .list-step {
    margin-top: 50px;
}

.section-step .content-top .list-step .item .img {
    margin-bottom: 20px;
    position: relative;
    padding-top: 100%;
}

.section-step .content-top .list-step .item .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-step .content-top .list-step .item .info .name {
    margin-bottom: 10px;
    color: var(--color-highlight);
    font-size: 18px;
    font-weight: 700;
}

.section-step .content-top {
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}

.section-hdiw .content-bottom .item {
    text-align: center;
    margin-bottom: 40px;
}

.section-hdiw .content-bottom .item .icon {
    margin-bottom: 15px;
}

.section-hdiw .content-bottom .item .icon img {
    width: 60px;
    height: 40px;
    object-fit: contain;
}

.section-hdiw .content-bottom .item .name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-hdiw .content-bottom .item .description {
    max-width: 300px;
    margin: 0 auto;
}

.section-benefit {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-benefit .info .list .item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section-benefit .info .list .item .icon {
    flex: 0 0 60px;
    height: 60px;
    background: #00e0ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-benefit .info .list .item .name-description {
    flex: 1 1;
    padding-left: 20px;
}

.section-benefit .info .list .item .icon img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.section-benefit .info .list .item .name-description .name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.section-benefit .title-section {
    max-width: 450px;
    margin-bottom: 40px;
}

.section-benefit .info .list .item:nth-child(2) .icon {
    background: #ff6eff;
}

.section-benefit .info .list .item:nth-child(3) .icon {
    background: #4600b9;
}

.section-benefit .info .list .item:nth-child(4) .icon {
    background: #0094ff;
}

.section-customer-reviews {
    padding: 70px 0 100px;
}

.section-customer-reviews .title-section {
    max-width: 700px;
    margin: 0 auto 40px;
}

.section-customer-reviews .item-info .item .description {
    line-height: 1.8;
    margin-bottom: 20px;
}

.section-customer-reviews .item-info .item .name-country {
    margin-bottom: 10px;
}

.section-customer-reviews .item-info .item .name-country span.name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.section-customer-reviews .item-info .item .name-country span.buyer img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.section-customer-reviews .item-info .item .name-country span.buyer {
    color: var(--color-highlight);
    font-weight: 500;
}

.section-customer-reviews .item-info .item .name-country span {
    display: inline-block;
}

.section-customer-reviews .item-info .item .star {
    font-size: 14px;
    color: #ffc107;
}
.img-review {
    border-radius: 20px;
    overflow: hidden;
}

.section-customer-reviews .item-info .item {
    padding-bottom: 65px;
}

.section-customer-reviews .item-info .swiper-button-prev,
.section-customer-reviews .item-info .swiper-button-next,
.section-video .swiper-button-next,
.section-video .swiper-button-prev {
    bottom: 0;
    top: inherit;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #000;
    font-size: 16px;
}

.section-customer-reviews .item-info .swiper-button-next {
    right: 0;
    left: 60px;
}

.section-customer-reviews .item-info .item .icon {
    margin-bottom: 10px;
}

.section-customer-reviews .item-info .item .icon img {
    width: 35px;
    height: 35px;
}

.section-customer-reviews .info-item .info-star {
    display: flex;
    align-items: center;
}

.section-customer-reviews .info-item .info-star .to {
    font-size: 40px;
    font-weight: 700;
    margin-right: 5px;
}

.section-customer-reviews .info-item .info-star span.form {
    font-size: 40px;
}

.section-customer-reviews .info-item .info-star span.star img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.section-customer-reviews .info-item .info-star span.left {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.section-customer-reviews .info-item .info-star .description {
    font-size: 20px;
    max-width: 300px;
    line-height: 1.7;
}

.section-customer-reviews .info-item {
    margin-top: 50px;
}

.section-customer-reviews .info-item .info-right {
    display: flex;
    align-items: center;
}

.section-customer-reviews .info-item .info-right span.name {
    font-size: 50px;
    font-weight: 500;
    flex: inherit;
    margin-right: 20px;
}

.section-customer-reviews .info-item .info-right span {
    font-size: 20px;
    flex: 1 1;
}

.item-video .item-video .btn-video {
    position: relative;
    padding-top: 177%;
    border-radius: 15px;
    overflow: hidden;
}

.item-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.item-video .btn-video {
    padding-top: 180%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.item-video .btn-video img.icon {
    position: absolute;
    width: 110px;
    top: 50%;
    left: 50%;
    height: 110px;
    transform: translate(-50%, -50%);
}

ul.fanpage > li > a {
    padding: 12px;
    border: 1px solid #e4e6ea;
    border-radius: 12px;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.section-video ul.fanpage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.section-video ul.fanpage > li > a img {
    width: 24px;
    height: 24px;
}

.section-video ul.fanpage > li {
    list-style: none;
    margin-right: 15px;
}

.section-video ul.fanpage > li:last-child {
    margin-right: 0;
}

.section-video .title-section {
    margin-bottom: 20px;
}

.section-video .info-right {
    padding-left: 60px;
    margin-bottom: 60px;
}
.swiper-button-next .swiper-button-next {
    top: inherit;
    bottom: 0;
}

.section-video .item-video {
    margin-bottom: 60px;
}

.section-video .swiper-button-prev {
    left: calc(50% - 45px) !important;
    right: inherit !important;
}

.section-video .swiper-button-next {
    right: calc(50% - 45px) !important;
    left: inherit;
}
.section-video {
    margin-bottom: 70px;
}

.ask-questions .accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ask-questions .accordion-item {
    border: 1px solid #e4e6ea;
    border-radius: 15px;
    padding: 0;
    margin-top: 12px;
    margin-right: 0px;
    width: auto;
    overflow: hidden;
}

.ask-questions .accordion-item .card-body {
    background: #e3f4fb;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #292b2e;
    border-radius: 15px;
}

.ask-questions button.accordion-button {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    height: 65px;
    padding: 0 45px 0 20px;
    background: #fff;
    color: #292b2e;
    line-height: 1.4;
    box-shadow: none;
}
.ask-questions button.accordion-button:before {
    content: "\f078";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    font-size: 12px;
}

.section-faq .slogan-section {
    margin-bottom: 30px;
}
.section-faq {
    margin-bottom: 70px;
}

.section-partner {
    background: #f2f6f8;
    padding: 50px 0;
}

.section-partner .slogan-section {
    margin-bottom: 40px;
}

.section-partner .info-partner .item {
    background: #fff;
}

.section-partner .info-partner .item .img {
    position: relative;
    padding-top: 40%;
}

.section-partner .info-partner .item:nth-child(2n + 1) > .row > div:nth-child(1) {
    order: 2;
}

.section-partner .info-partner .item > .row {
    margin-right: 0;
    margin-left: 0;
    align-items: center;
}

.section-partner .info-partner .item > .row > div {
    padding-left: 0;
    padding-right: 0;
}

.section-partner .info-partner .item:nth-child(2n + 1) > .row > div:nth-child(1) .img:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 0 5px 0 0;
    width: 60px;
    z-index: 9;
}

.section-partner .info-partner .item:nth-child(2n + 2) > .row > div:nth-child(1) .img:before {
    content: "";
    position: absolute;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 0 5px 0 0;
    width: 60px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
}

.section-partner .info-partner .item .info-item {
    padding: 25px;
}

.section-partner .info-partner .item .info-item .name {
    color: var(--color-highlight);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 24px;
}
.section-partner .info-partner {
    margin-bottom: 30px;
}
.section-dowload-app .content .info .slogan-section {
    margin-bottom: 30px;
}

.section-dowload-app .content .info ul.dowload-app {
    padding-left: 0;
    display: flex;
}

.section-dowload-app .content .info ul.dowload-app > li {
    list-style: none;
    margin-right: 20px;
}

.section-dowload-app .content .info ul.dowload-app > li > a > img {
    height: 45px;
}
.section-dowload-app {
    padding: 50px 0;
}

.logo-footer img {
    height: 60px;
}

.logo-footer {
    margin-bottom: 10px;
}

.title-footer {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.item-menu-footer > ul {
    padding-left: 0;
}

.item-menu-footer > ul > li {
    list-style: none;
}

.item-menu-footer > ul > li > a {
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 14px;
}

.section-footer-top {
    background: #f9f9f9;
    padding: 50px 0 40px;
    border-top: 1px solid #ddd;
}

.item-menu-footer p {
    font-size: 15px;
    line-height: 1.5;
}
nav.breadcrumbs-section a img {
    width: 17px;
    height: 16px;
    position: relative;
    top: -3px;
    object-fit: contain;
}

nav.breadcrumbs-section a {
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
    color: #000;
    font-weight: 500;
}

nav.breadcrumbs-section a:before {
    right: -3px;
    top: 4px;
    content: "\f105";
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
}

nav.breadcrumbs-section a:last-child:before {
    display: none;
}

nav.breadcrumbs-section a:last-child {
    margin-right: 0;
    padding-right: 0;
}
.breadcrumbs {
    background: #ebebeb;
}

nav.breadcrumbs-section a:last-child {
    font-weight: 400;
}
.breadcrumb {
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-detail .img-product {
    margin-bottom: 110px;
    padding-top: 120%;
}

.content-detail .img-product span.before img {
    z-index: 99;
    position: absolute;
    width: 100%;
    bottom: -113px;
}

.content-detail .info-detail-right .name {
    font-size: 35px;
    margin-bottom: 15px;
}

.content-detail .info-detail-right .detail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content-detail .info-detail-right .price span.inter {
    font-size: 35px;
}

.content-detail .info-detail-right .price span {
    font-size: 25px;
}

.content-detail .info-detail-right .star {
    display: flex;
    align-items: center;
}

.content-detail .info-detail-right .star span.left {
    margin-right: 10px;
}

.content-detail .info-detail-right .star span.center i {
    background: #00b67a;
    padding: 5px;
    font-size: 10px;
    color: #fff;
    display: inline-block;
}

.content-detail .info-detail-right .star span.right i {
    color: #00b67a;
}

.content-detail .info-detail-right .star span.center {
    margin-right: 15px;
}

.content-detail .info-detail-right .nation .btn {
    box-shadow: 0px 0px 0.5px rgba(66, 71, 76, 0.32), 0px 4px 8px rgba(66, 71, 76, 0.05), 0px 4px 40px #eeeeee;
    background: #fff;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    padding: 25px;
}

.content-detail .info-detail-right .nation {
    margin-bottom: 30px;
}

.content-detail .info-detail-right .nation .btn i {
    margin-left: 15px;
    position: relative;
    top: 2px;
}

.content-detail .info-detail-right .attribute-cart {
    box-shadow: 0px 0px 0.5px rgba(66, 71, 76, 0.32), 0px 4px 8px rgba(66, 71, 76, 0.05), 0px 4px 40px #eeeeee;
    background: #fff;
    color: #000;
    padding: 25px 25px 40px;
    border-radius: 10px;
}

.content-detail .info-detail-right .attribute-cart .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content-detail .info-detail-right .attribute-cart .top span.title {
    font-size: 22px;
    font-weight: 500;
}

.content-detail .info-detail-right .attribute-cart .top .btn-group-currency span.btn-dropdown {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 5px 6px 5px;
    gap: 4px;
    width: 94px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #e4e6ea;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    font-size: 14px;
}

.content-detail .info-detail-right .attribute-cart .top .btn-group-currency span.btn-dropdown i {
    font-size: 10px;
}

.item-attribute {
    margin-bottom: 15px;
}

.item-attribute .form-check {
    padding-left: 0;
    position: relative;
}

.item-attribute .form-check label.form-check-label {
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 12px;
    padding: 20px;
    display: block;
}

.item-attribute .form-check label.form-check-label::after,
.item-attribute .form-check label.form-check-label::before {
    right: 10px;
    left: inherit !important;
    top: 13px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    content: "";
    border: 1px solid #dedede;
}

.item-attribute .form-check input {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}

.item-attribute .form-check .form-check-input:checked ~ .form-check-label {
    background: #f5f5ff;
    border: 1px solid var(--color-highlight);
}
.item-attribute .form-check .form-check-input:checked ~ .form-check-label::before {
    background-color: #ffffff;
    width: 6px;
    height: 6px;
    z-index: 1;
    top: 18px;
    right: 15px;
}
.item-attribute .form-check .form-check-input:checked ~ .form-check-label::after {
    background: var(--color-highlight);
    border-color: var(--color-highlight);
}

.info-detail-right .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.info-detail-right .row > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.item-attribute .form-check label.form-check-label span.name {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.item-attribute .form-check label.form-check-label > span {
    display: block;
}

.item-attribute .form-check label.form-check-label span.price > span {
    font-size: 16px;
    font-weight: 500;
}

.item-attribute .form-check label.form-check-label span.price > span > span {
    font-weight: 500;
}

.item-attribute .form-check label.form-check-label > span.price {
    font-size: 13px;
    margin-top: 15px;
}
.content-detail .info-detail-right .attribute-cart .center {
    margin-bottom: 25px;
}

.add-to-cart span.btn {
    display: block;
    background: var(--color-highlight);
}
span.btn-quantity {
    border: 1px solid #dde1e8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 47px;
    flex: 0 0 47px;
}

.product-quantity {
    display: flex;
    padding: 0;
    position: relative;
    right: 0;
    margin-top: 0;
    justify-content: space-between;
}

.product-quantity .quantity-input {
    border: 0;
    flex: calc(100% - 100px);
    max-width: calc(100% - 100px);
}
.content-detail .info-detail-right .attribute-cart .bottom {
    margin-bottom: 40px;
}

.content-detail .info-detail-right .card-img ul {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-detail .info-detail-right .card-img ul > li {
    list-style: none;
    margin-right: 15px;
    font-size: 13px;
}
.content-detail .info-detail-right .card-img ul > li span {
    color: #96969d;
}

.content-detail .info-detail-right .card-img ul > li span > span {
    display: block;
    font-weight: 700;
}

.content-detail .info-detail-right .card-img ul > li:nth-child(1) {
    display: flex;
    align-items: center;
}

.content-detail .info-detail-right .card-img ul > li:nth-child(1) img {
    margin-right: 15px;
}

.content-detail .info-detail-right .card-img ul > li > img {
    height: 25px;
}
.section-detail-product {
    margin-bottom: 80px;
}
.section-description-detail .content > .nav {
    background: #f8f8fb;
    border-radius: 10px;
    display: flex;
    border-bottom: 0;
    padding: 10px;
    justify-content: space-around;
}

.section-description-detail .content > .nav > li.nav-item > a {
    display: inline-block;
    margin-bottom: 0;
    color: #000;
    font-weight: 500;
    background: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.section-description-detail .content > .nav > li.nav-item > a.active,
.section-description-detail .content > .nav > li.nav-item > a:hover {
    border-color: #000;
}
.section-description-detail .content-detail {
    padding: 50px;
}
.section-description-detail {
    margin-bottom: 30px;
}
.section-como-funciona .content .title-section {
    margin-bottom: 50px;
}

.section-como-funciona .content .item {
    text-align: center;
}

.section-como-funciona .content .item .number {
    background: #dcf4ff;
    width: 40px;
    height: 40px;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 500;
}

.section-como-funciona .content .item .name {
    font-size: 20px;
    font-weight: 500;
    max-width: 350px;
    margin: 0 auto 20px;
}

.section-como-funciona .content .item .description {
    max-width: 370px;
    margin: 0 auto 20px;
}

.section-como-funciona .content .item .description a {
    color: var(--color-main);
    font-weight: 500;
}

.section-como-funciona .content .item .icon img {
    width: 160px;
    height: 160px;
}
.section-como-funciona {
    margin-bottom: 70px;
}
.section-contact-mail .content .img.position-relative {
    padding-top: 44%;
}

.section-contact-mail .content .img img {
    object-fit: contain;
}

.section-contact-mail .content .info .title-section {
    margin-bottom: 20px;
}

.section-contact-mail .content .info .description {
    margin-bottom: 30px;
}

.section-contact-mail .content .info ul {
    padding-left: 0;
}

.section-contact-mail .content .info ul > li {
    list-style: none;
}

.section-contact-mail .content .info ul > li a {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-contact-mail .content .info ul > li a > img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.section-contact-mail {
    margin-bottom: 80px;
}

.section-imagen-texto .content {
    border-radius: 16px;
    background: #ffe3d3;
    padding: 15px;
}

.section-imagen-texto .content .info {
    padding: 20px;
}
.section-imagen-texto .content .info .title-section {
    font-size: 30px;
    margin-bottom: 20px;
}

.section-imagen-texto .content .info .description {
    margin-bottom: 20px;
    max-width: 600px;
}
.section-imagen-texto .content .info .link a {
    background: #fff;
    color: #000;
    border-radius: 15px;
    padding: 15px 30px;
}
.section-imagen-texto {
    margin-bottom: 80px;
}
.section-hdiw {
    padding-bottom: 70px;
}

.section-customer-reviews.page-about {
    padding: 70px 0 20px;
}
.title-section .color-main {
    color: var(--color-main);
}

.section-banner {
    margin-bottom: 60px;
}

.section-banner .title-section {
    margin-bottom: 30px;
    margin-top: 50px;
}

.section-banner .banner img {
    width: 100%;
    height: 24vw;
    object-fit: cover;
}

.section-list-about .content .image img {
    object-fit: contain;
}

.section-list-about .content > .row:nth-child(2n + 1) > div:nth-child(1) {
    order: 1;
}

.section-list-about .content .info .title-section {
    margin-bottom: 20px;
}

.section-list-about .content > .row {
    margin-bottom: 20px;
}
.section-contant-form .content .form .form-group .form-control {
    border-radius: 13px;
    border: 1px solid #ddd;
    height: 48px;
    font-size: 15px;
    color: #8a9099;
}

.section-contant-form .content .form button.btn {
    width: 100%;
    border-radius: 13px;
}

.section-contant-form .content .form .form-group textarea.form-control {
    height: 90px;
}
.section-contant-form,
.section-contact-map {
    margin-bottom: 70px;
}

.section-contant-form .content .form .form-group .form-control {
    border-radius: 13px;
    border: 1px solid #ddd;
    height: 48px;
    font-size: 15px;
    color: #8a9099;
}

.section-contant-form .content .form button.btn {
    width: 100%;
    border-radius: 13px;
    background: var(--color-highlight);
}

.section-contant-form .content .form .form-group textarea.form-control {
    height: 90px;
}

.section-contact-map .content iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.section-contant-form .content .info p {
    position: relative;
    padding-left: 15px;
}

.section-contant-form .content .info p:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}

.section-contant-form .content .info p.title {
    padding-left: 0;
}

.section-contant-form .content .info p.title:before {
    display: none;
}
.section-404 .content {
    text-align: center;
    padding: 100px 0;
}

.section-404 .content .title {
    font-size: 150px;
    color: var(--color-main);
    font-weight: 500;
    letter-spacing: 40px;
}

.section-404 .content .title-02 {
    font-size: 50px;
    font-weight: 500;
}

.section-404 .content .slogan {
    font-size: 18px;
    margin-bottom: 20px;
}

.section-404 .content .description {
    max-width: 800px;
    margin: 0 auto;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-404 .content .link a.btn {
    margin-left: 10px;
    margin-right: 10px;
    background: var(--color-highlight);
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--color-highlight);
}

.section-404 .content .link a.btn:hover {
    background: none;
    color: var(--color-highlight);
}
.section-banner-news {
    position: relative;
}

.section-banner-news .img img {
    height: 43vw;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.section-banner-news .content {
    width: 100%;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
}

.section-banner-news .content .info {
    width: 570px;
}

.section-banner-news .content .title {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-banner-news .content .info .link .btn {
    padding: 10px 20px;
    background: var(--color-highlight);
}
.section-banner-news .content .info .top {
    background: #fff;
    padding: 40px;
}

.section-banner-news .content .info .img-before {
    width: 100%;
    height: 46px;
    object-fit: cover;
}

.section-list-news .container {
    max-width: 1200px;
}

.section-list-news {
    padding: 70px 0 0;
}

.section-list-news .slogan-section {
    margin-bottom: 30px;
}

.section-list-news .list-news .list-item > .row > div {
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-top: 7.5px;
}

.section-list-news .list-news .list-item > .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.section-list-news .list-news .list-item .item:hover {
    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.section-list-news .list-news .list-item .item {
    background: #fff;
    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -19px 67px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.section-list-news .list-news .list-item .item .inter {
    padding: 15px;
}

.section-list-news .list-news .list-item .item .inter .name a {
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.section-list-news .list-news .list-item .item .inter .name {
    margin-bottom: 10px;
}

.section-list-news .list-news .list-item .item .inter .author {
    font-size: 14px;
    margin-bottom: 10px;
}

.section-list-news .list-news .list-item .item .inter .description {
    font-size: 15px;
    margin-bottom: 15px;
}

.section-list-news .list-news .list-item .item .inter .link a {
    display: inline-block;
    color: #000;
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 8px;
}
.section-news-hot {
    margin-top: 60px;
    margin-bottom: 50px;
}

.section-news-hot .title-section,
.section-similar-products .title-section {
    font-size: 28px;
    margin-bottom: 30px;
    max-width: 200px;
}

.section-news-hot .list .item {
    margin-bottom: 30px;
}

.section-news-hot .list .item a {
    color: #000;
    display: flex;
    align-items: center;
    line-height: 1.7;
}

.section-news-hot .list .item a .number {
    margin-right: 10px;
    font-size: 30px;
    font-weight: 500;
}

.section-news-hot .list > ul {
    padding-left: 0;
}

.section-similar-products > .list > ul {
    padding-left: 0;
}

.section-similar-products > .list > ul > li {
    list-style: none;
}

.section-similar-products > .list > ul > li > a {
    color: #e6485c;
    display: inline-block;
    margin-bottom: 40px;
}

.section-similar-products .link a {
    width: 100%;
    font-size: 18px;
}
.pagination > a {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-highlight);
    color: #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.pagination {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.pagination span {
    margin-right: 15px;
}

.pagination > a:hover,
.pagination > a.active {
    background: var(--color-highlight);
    color: #fff;
}
.info-detail-blog .title-section {
    font-size: 64px;
    max-width: 800px;
    margin: 0 auto 30px;
}
.list-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.list-category a {
    display: inline-block;
    background: #292b2e99;
    padding: 7px 14px;
    color: white;
    margin: 0 20px;
    font-size: 12px;
    border-radius: 6px;
}

.info-detail-blog .top .description {
    max-width: 400px;
    margin: 0 auto 50px;
    font-size: 22px;
    color: #808080;
}

.section-detail-blog {
    padding: 70px 0;
}
.tag-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-detail a {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ddd;
    color: #000;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 26px;
}

.review-detail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
margin-bottom span.star {
    color: #ffc107;
}

.review-detail span.star {
    color: #ffc107;
    margin-right: 15px;
}

.review-detail span {
    font-size: 18px;
}

.section-star-detail {
    margin-bottom: 70px;
}

.section-list-news.detail-blog {
    margin-bottom: 30px;
}

.section-search-faq {
    background: #e2f6ff;
    padding: 50px 0;
}

.section-search-faq .content {
    text-align: center;
}

.section-search-faq .content .title-section {
    margin-bottom: 20px;
}

.section-search-faq .content .title-section span {
    color: var(--color-main);
}

.section-search-faq .content .slogan-section {
    margin-bottom: 40px;
}

.section-search-faq .content .slogan-section p {
    margin-bottom: 10px;
    font-size: 18px;
}

.section-search-faq .content .form-search {
    max-width: 500px;
    margin: 0 auto;
}

.section-faq-box-02 {
    padding-top: 70px;
    padding-bottom: 30px;
}

.section-faq-box-02 .title-section {
    margin-bottom: 15px;
}

.section-faq-box-02 .slogan-section {
    margin-bottom: 40px;
}
.section-faq-box-02 .info .item {
    margin-bottom: 40px;
}

.section-faq-box-02 .info .item .icon img {
    width: 160px;
    height: 145px;
    object-fit: contain;
}

.section-faq-box-02 .info .item .icon {
    margin-bottom: 10px;
}

.section-faq-box-02 .info .item .name a {
    color: #000;
}

.section-faq.faq-page .pagination,
.section-faq.faq-page-xlsc .pagination {
    justify-content: center;
}

.section-faq.faq-page button.btn,
.section-faq.faq-page-xlsc button.btn {
    font-weight: 700;
}
.section-faq.faq-page {
    margin-bottom: 0;
}
.section-faq.faq-page-xlsc {
    margin-bottom: 0;
    padding-top: 60px;
}
.detail-faq {
    border-radius: 15px;
    background: #e5fbff;
    padding: 20px 30px 30px;
    margin-bottom: 30px;
}

.detail-faq .title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #b4e2ef;
    padding-bottom: 15px;
}

.detail-faq .title h1 {
    margin-bottom: 0;
}

.detail-faq .title i {
    font-size: 25px;
    margin-right: 20px;
}

.detail-faq .content-faq {
    color: #000;
}
.detail-faq .bottom {
    border-top: 1px solid #b4e2ef;
    padding-top: 20px;
    margin-top: 50px;
}

.detail-faq .bottom span.name {
    margin-right: 30px;
}
.detail-faq .bottom span.spoin {
    margin-left: 20px;
    margin-right: 20px;
}
.detail-faq-feedback {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.detail-faq-feedback .title-section {
    font-size: 25px;
    margin-bottom: 30px;
}
.detail-faq-feedback .info-btn span.btn {
    padding: 10px 30px;
    margin: 0 10px;
}
.section-similar-questions {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
}

.section-similar-questions .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-similar-questions .info ul {
    padding-left: 0;
}

.section-similar-questions .info ul > li {
    list-style: none;
    margin-bottom: 20px;
}

.section-similar-questions .info ul > li > a {
    color: #000;
    font-weight: 700;
}
.section-list-partner .content .image img {
    object-fit: contain;
}
.section-list-partner .list-partner .row:nth-child(2n + 2) > div:nth-child(1) {
    order: 2;
}

.section-list-partner .list-partner > .row {
    margin-bottom: 30px;
}

.section-list-partner .list-partner .info .title-section {
    font-size: 30px;
    margin-bottom: 30px;
}
.section-list-partner {
    margin-bottom: 70px;
}
.section-modal-pn .modal-content button.close,
.section-modal-languages .modal-content button.close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #4a4a4a;
    opacity: 1;
    font-weight: 400;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 27px;
    border-radius: 50%;
    font-size: 12px;
    z-index: 999;
    padding: 0;
    border: 0;
}

.section-modal-pn .modal-content .modal-body,
.section-modal-languages .modal-content .modal-body {
    padding: 0;
}

.section-modal-pn .modal-content .modal-body .info,
.section-modal-languages .modal-content .info {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.section-modal-pn .modal-content .modal-body .info .title,
.section-modal-languages .modal-content .info .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.section-modal-pn .modal-content .modal-body .info-form,
.section-modal-languages .modal-content .info-form {
    padding: 20px;
}

.section-modal-pn .modal-content .modal-body .info-form .form-select,
.section-modal-pn .modal-content .modal-body .info-form .form-group .form-control,
.section-modal-pn .modal-content .modal-body .info-form .form-group textarea {
    height: 54px;
    width: 100%;
    border: 0;
    background: #efefef;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.section-modal-pn .modal-content .modal-body .info-form .form-group textarea {
    height: 100px;
    margin-bottom: 0;
}

.link-view button.btn {
    min-width: 300px;
}
.section-list-partner .link-partner {
    margin-top: 30px;
}

.link-partner a {
    align-items: center;
    border-radius: 7px;
    color: #000;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1;
    transition: all 0.2s;
    font-size: 14px;
    font-weight: 500;
    padding: 17px 20px 16px;
    background: #dff6fb;
    text-transform: uppercase;
    border: 1px solid #dff6fb;
    margin-right: 20px;
}
.section-why-partner {
    margin-bottom: 70px;
}

.banner-partner {
    margin-bottom: 70px;
}
.banner-partner .img {
    padding-top: 33%;
    border-radius: 20px;
    overflow: hidden;
}
.section-modal-languages .modal-content .info .form-group {
    border: 1px solid #e4e6ea;
    height: 50px;
    padding: 8px 8px 8px 18px;
    border-radius: 16px;
    box-shadow: 0px 6px 24px rgb(0 0 0 / 10%);
    font-size: 18px;
    display: flex;
    align-items: center;
}
.section-modal-languages .info-form-search .form-group span {
    padding-right: 10px;
    position: relative;
}

.section-modal-languages .info-form-search .form-group .form-control {
    height: 30px;
    padding: 0;
    border: 0;
    font-size: 17px;
    margin-left: 15px;
}

.section-modal-languages .info-form-search .form-group span:before {
    content: "";
    position: absolute;
    right: 0;
    height: 17px;
    width: 1px;
    background: #ddd;
    top: 52%;
    transform: translateY(-50%);
}
.section-modal-languages .modal-content .info .title {
    margin-bottom: 20px;
}

.section-modal-languages .modal-content .info-form > ul {
    padding-left: 0;
}

.section-modal-languages .modal-content .info-form > ul > li {
    list-style: none;
    margin-bottom: 0;
}

.section-modal-languages .modal-content .info-form > ul > li > a {
    color: #4a4a4a;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.3333;
    padding: 17px 0 16px;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
    position: relative;
}

.section-modal-languages .modal-content .info-form > ul > li:last-child > a {
    border-bottom: 0;
}

.section-modal-languages .modal-content .info-form {
    overflow-y: scroll;
    max-height: 385px;
    padding: 0 0 0 20px;
}

.section-modal-languages .modal-content .info-form > ul > li.active > a:before {
    content: "\f058";
    position: absolute;
    top: 17px;
    right: 15px;
    font-size: 15px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
}
.section-support .info-support .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

.section-support .info-support form p {
    font-size: 18px;
}

.section-support .info-support form .form-group label {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}

.section-support .info-support form .form-group .form-control {
    height: 50px;
    font-size: 16px;
    border-color: #6d6d6d;
    border-radius: 10px;
    padding: 15px;
}

.section-support .info-support form .form-group textarea.form-control {
    height: 140px;
}
.section-support .info-support form .form-group .form-control.file {
    padding: 8px;
    height: auto;
    /* border: 0; */
    /* border-radius: 0; */
}

.section-support .content .img {
    padding-top: 141%;
}
.section-support {
    padding-top: 40px;
}
.section-modal-pn .modal-content .modal-body .info-form .link-view {
    margin-top: 30px;
}
.content-detail .info-detail-right .attribute-cart .top .btn-group-currency span.btn-dropdown:after {
    display: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    color: #000;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu > li:last-child a {
    border-bottom: 0;
}
.section-step .content-top .list-step .item .info .description {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
}
.section-modal-country .modal-content .info-form > ul > li > a > img.icon {
    width: 35px;
    height: 26px;
    object-fit: cover;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
}

.section-modal-country .modal-content .info-form > ul > li > a {
    padding: 13px 0 13px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.section-modal-country .modal-content {
    border-radius: 15px;
    overflow: hidden;
}

.section-modal-country .modal-dialog {
    max-width: 700px;
}

.section-modal-country .modal-content .info {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 20px;
}

.section-modal-country .modal-content .info-form {
    padding-left: 0;
}

.section-modal-country .modal-content .modal-body {
    padding: 30px 50px;
}

.link-all-menu a {
    display: block;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    color: #000;
    border-radius: 10px;
}

.link-all-menu a i {
    margin-left: 15px;
    position: relative;
    top: 2px;
}
.section-cart a span {
    position: absolute;
    top: -2px;
    left: 6px;
    background: #fff;
    font-size: 11px;
    line-height: 1;
}
ul.list-menu-footer {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.list-menu-footer>li {
    list-style: none;
    margin-right: 25px;
}

ul.list-menu-footer>li>a {
    color: #000;
    font-weight: 500;
}

.item-list-footer {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

footer .fanpage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .fanpage>ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

footer .fanpage>ul>li {
    list-style: none;
    margin-right: 25px;
}

footer .fanpage>ul>li>a>img {
    width: 25px;
    height: 25px;
}

footer .fanpage>span {
    margin-right: 30px;
}

footer .fanpage>ul>li:last-child {
    margin-right: 0;
}
.section-footer-bottom {
    padding: 15px 0;
}

.section-footer-bottom .item-footer-bottom>ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.section-footer-bottom .item-footer-bottom>ul>li {
    list-style: none;
    margin-right: 25px;
}

.section-footer-bottom .item-footer-bottom>ul>li:last-child {
    margin-right: 0;
}

.section-footer-bottom .item-footer-bottom>ul>li>a>img {
    height: 50px;
}

.shopping-cart {
    width: 360px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.12);
    background: #ffffff;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 5%;
    border-top: 1px solid #efefef;
    overflow: hidden;
    top: calc(100% + 20px);
}

.shopping-cart.show {
    display: block !important;
}

.section-cart .info-top {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.shopping-cart .name-delete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shopping-cart .name-delete .info-left span {
    display: block;
}
.section-cart .info-top span {
    font-weight: 600;
}
.shopping-cart .name-delete .delete span {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.shopping-cart .name-delete .info-left {
    flex: 1 1;
}

.quantity-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.quantity-price .product-quantity {
    flex: 0 0 45%;
    max-width: 45%;
}

.quantity-price span.btn-quantity {
    height: 35px;
    flex: 0 0 35px;
    border-radius: 7px;
}

.quantity-price .price {
    flex: 0 0 55%;
    max-width: 55%;
    text-align: right;
}

.final-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.final-price span.title {
    font-weight: 700;
    font-size: 20px;
}

.shopping-cart .link .btn {
    display: block !important;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}
.shopping-cart .link .btn:hover {
    color: var(--color-highlight);
}
.shopping-cart .link .btn.btn-continue {
    color: #000;
    margin-bottom: 0;
}
.shopping-cart .content {
    max-height: 248px;
    overflow-y: scroll;
    position: relative;
    padding-right: 15px;
    padding-left: 20px;
    margin-right: 20px;
}
.shopping-cart .content::-webkit-scrollbar-track {
  border-radius: 21px;
  background-color: #c0c0c0;
}

.shopping-cart .content::-webkit-scrollbar {
  border-radius: 21px;
  width: 2px;
  background-color: #c0c0c0;
}

.shopping-cart .content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-highlight);
}

.shopping-cart  .bottom {
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f7f9;
    position: relative;
    margin-top: 40px;
    padding-top: 10px;
}

.shopping-cart .bottom img.img-before {
    position: absolute;
    top: -28px;
    left: 0;
    height: 31px;
    object-fit: cover;
}
.search-section.entire-action-header {
    position: relative;
}

.search-section .form-search {
    position: absolute;
    width: 350px;
    right: 0;
    z-index: 999;
    top: calc(100% + 20px);
    display: none;
    height: 56px !IMPORTANT;
}

.search-section .form-search .info-form-search .form-group input.form-control {
    margin-left: 0 !important;
}

.search-section .form-search .info-form-search {
    margin: 0;
}

.search-section .form-search .info-form-search .form-group {
    height: 56px;
}

.search-section .form-search .info-form-search .btn {
    height: 46px;
}
.search-section .form-search.show {
    display: block;
}
.toast-body .btn {
    padding: 8px 20px;
    font-size: 11px;
    border-radius: 6px;
}
.toast {
    width: 380px;
}
.section-step-cart {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-step-cart .info>ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-step-cart .info>ul>li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    position: relative;
}

.section-step-cart .info>ul>li:before {
    content: '';
    position: absolute;
    top: 8px;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    z-index: -1;
}

.section-step-cart .info>ul>li i {
    background: #fff;
    margin-bottom: 10px;
}

.section-step-cart .info>ul>li:first-child:before {
    width: 50%;
    right: 0;
}

.section-step-cart .info>ul>li:last-child:before {
    left: 0;
    width: 50%;
}

.section-step-cart .info>ul>li>span {
    text-transform: uppercase;
}

.section-step-cart .info>ul>li.active>span {
    font-weight: 700;
}

.section-discount .info .title-discount {
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.section-discount .info .input-discount {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.section-discount .info .input-discount .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-discount .info .input-discount .input-group {
    flex-basis: calc(100% - 230px);
    max-width: calc(100% - 230px);
    padding-right: 15px;
}

.section-discount .info .input-discount .btn {
    height: 50px;
    padding: 0;
    display: flex;
    flex: 0 0 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.section-discount .info .input-discount .input-group input.form-control {
    height: 50px;
}

.section-list-cart  .table {
    border-radius: 5px !important;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.section-list-cart .cart-left .table thead tr th, .section-all-cart table>thead>tr>th {
    padding: 20px 15px;
    border-bottom: 0;
    text-align: center;
}

.section-list-cart .cart-left .table tbody {
    border-top: 1px solid #ddd;
}

.section-list-cart .cart-left .table tbody>tr>td {
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.section-list-cart .cart-left span.img img {
    width: 50px;
    border-radius: 5px;
    height: 40px;
    object-fit: contain;
}

.section-list-cart .cart-left span.img {
    margin-right: 10px;
}

.product-quantity.product-quantity-cart {
    width: auto;
}

.product-quantity.product-quantity-cart span.btn-quantity {
    height: 25px;
    flex: 0 0 25px;
    background: #ddd;
    border-radius: 50%;
}

.product-quantity.product-quantity-cart  .quantity-input {
    width: 20px;
}

.section-list-cart .cart-left .table tbody>tr>td:first-child {
    text-align: left;
}
.section-list-cart .cart-left .table thead tr th:first-child {
    text-align: left;
}
.section-all-cart tbody {
    border-top: 1px solid #ddd !important;
}

.section-all-cart tbody tr td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
}
.section-all-cart tbody tr:last-child td {
    border: 0;
}
.section-list-cart {
    margin-bottom: 50px;
}
.section-payment-app .content {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 5px;
}

.btn-payment .btn img {
    height: 25px;
}

.btn-payment .btn-paypal {
    background: #FFC107;
}

.btn-payment .btn {
    width: 100%;
}

.btn-payment .btn-gg {
    background: #000;
}

.section-payment-app .content .title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: -46px;
    margin-bottom: 20px;
}

.section-payment-app .content .title span {
    background: #fff;
    padding: 0 5px;
}
.sectio-detail-payment .info-payment-left .form .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sectio-detail-payment .info-payment-left .form .input-group label {
    display: block;
}

.sectio-detail-payment .info-payment-left .form .input-group input.form-control {
    width: 100%;
    border-radius: 5px !important;
    height: 40px;
}

.sectio-detail-payment {
    margin-top: 50px;
    padding-bottom: 50px;
}

.sectio-detail-payment .content .or {
    text-align: center;
    position: relative;
}

.sectio-detail-payment .content .or:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ddd;
    top: 12px;
}

.sectio-detail-payment .content .or span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 10px;
}

.sectio-detail-payment .content .or {
    margin-bottom: 50px;
}

.sectio-detail-payment .info-payment-left .title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}

.sectio-detail-payment .info-payment-left .form .input-group label {
    margin-bottom: 10px;
}

.sectio-detail-payment .info-payment-left .form .input-group select {
    width: 100%;
    border-radius: 5px !important;
    height: 40px;
    border-color: #ced4da;
}


.info-payment-left .form-check {
    padding-left: 0;
}
.info-payment-right .product {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.info-payment-right .product .item-product.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-payment-right .product .item-product {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.info-payment-right .product .item-product.title span {
    font-weight: 700;
}

.info-payment-right .product .item-product.item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-payment-right .product .item-product span.right {
    font-weight: 700;
}

.info-payment-right .product .item-product.list-item .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.info-payment-right .product .item-product.list-item .item span.left {
    flex: 1 1;
    font-size: 14px;
}

.info-payment-right .product .item-product.list-item .item span.right {
    flex: 0 0 115px;
    max-width: 115px;
    text-align: right;
}

.info-payment-right .product .item-product.list-item .item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.info-payment-right .product .item-product.item-price:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.info-payment-right .payment .title {
    font-weight: 700;
    margin-bottom: 15px;
}

.info-payment-right .payment .list-cart {
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info-payment-right .payment .list-cart>ul {
    padding-left: 0;
    display: flex;
}

.info-payment-right .payment .list-cart>ul>li {
    list-style: none;
    margin-right: 10px;
}

.info-payment-right .payment .list-cart>ul>li img {
    height: 45px;
}

.info-payment-right .payment .form-group label {
    margin-bottom: 0;
}

.info-payment-right .payment .form-group input {
    margin-right: 10px;
}

.info-payment-right .payment .form-check {
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.info-payment-right .payment .form-check input {
    margin-top: 7px;
    margin-right: 15px;
}

.info-payment-right .payment .btn-success-payment .btn {
    width: 100%;
    margin-top: 15px;
    text-transform: uppercase;
}
.breadcrumb.breadcrumb-banner  .content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.breadcrumb.breadcrumb-banner  .content .title {
    font-size: 40px;
    margin-bottom: 10px;
}

.breadcrumb.breadcrumb-banner .content .description {
    font-size: 20px;
}

.section-compatible-devices .item-tab .title {
    font-size: 25px;
    margin-bottom: 15px;
}

.section-compatible-devices .item-tab .nav-tabs {border-color: #000;margin-bottom: 20px !important;}

.section-compatible-devices .item-tab .nav-tabs .nav-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    padding-right: 10px;
}

.section-compatible-devices .item-tab .nav-tabs .nav-item>a {
    /* margin-bottom: 0; */
    text-align: center;
    border: 1px solid #000;
    color: #000;
}

.section-compatible-devices .item-tab .nav-tabs .nav-item:last-child {
    padding-right: 0;
}

.section-compatible-devices .item-tab .nav-tabs .nav-item>a.active {
    background: #000;
    color: #fff;
}
.section-compatible-devices {
    margin-bottom: 60px;
}

.section-compatible-devices .item-tab {
    margin-bottom: 30px;
}
.link-more a.btn-faq {
    background: #fff;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    color: #000;
    margin-top: 15px;
    border: 1px solid #fff;
}
.breadcrumb.breadcrumb-banner {
    background-size: cover;
}
.link-more a.btn-faq:hover {
    background: none;
    color: #000;
    border-color: #000;
}
@media (min-width: 1200px) {
    .menu-section .content-menu > ul > li > .entry-menu {
        position: absolute;
        opacity: 0;
        filter: opacity(0);
        visibility: hidden;
        -webkit-transition: all 0.05s ease;
        transition: all 0.05s ease;
        z-index: 17;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
        background-color: var(--white);
        border-radius: 20px;
        top: 100%;
    }

    .menu-section .entry-menu.dropdown {
        min-width: 309px;
        left: 0;
        padding: 15px 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }

    .menu-section .content-menu > ul > li:hover > .entry-menu,
    .menu-section .content-menu ul > li > .entry-menu > li.has-child:hover ul.entry-menu {
        opacity: 1;
        filter: opacity(1);
        visibility: visible;
    }

    .menu-section .content-menu ul > li > .entry-menu > li {
        list-style: none;
        position: relative;
    }

    .menu-section .content-menu ul > li > u > li > a {
        padding: 10px 0;
        display: block;
    }

    .menu-section .content-menu > ul > li > .entry-menu > li a {
        display: flex;
        color: #000;
        padding: 5px 15px;
        justify-content: space-between;
        align-items: center;
    }
    .menu-section .content-menu ul > li > a:hover,
    .menu-section .content-menu > ul > li > .entry-menu > li a:hover {
        color: var(--color-main);
    }
    .menu-section .content-menu ul > li > .entry-menu > li.has-child ul.entry-menu {
        position: absolute;
        top: -50%;
        left: 100%;
        margin-top: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        opacity: 0;
        filter: opacity(0);
        visibility: hidden;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 17;
        background-color: var(--white);
        border-radius: 20px;
    }
    ul.entry-menu.megamenu {
        width: 100%;
        left: 0;
        padding: 2rem 4rem;
    }

    .menu-section .content-menu > ul > li.megamenu-has {
        position: static;
    }

    .menu-section .content-menu > ul > li.megamenu-has ul.entry-menu.megamenu .container-menu {
        max-width: 1200px;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
        background-color: var(--white);
        border-radius: 20px;
        padding: 50px 100px;
    }
    .menu-section .content-menu > ul > li.megamenu-has ul.entry-menu.megamenu {
        background: none;
        box-shadow: none;
        border: 0 !important;
        padding: 0;
        top: calc(100% - 35px);
    }

    .menu-section .content-menu > ul > li.megamenu-has ul.entry-menu.megamenu .container-menu .row-menu a.menu-title {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        margin-bottom: 15px;
        display: inline-block;
    }

    .menu-section .content-menu > ul > li.megamenu-has ul.entry-menu.megamenu .container-menu .row-menu .has-child {
        margin-bottom: 15px;
    }

    .menu-section .content-menu > ul > li.megamenu-has ul.entry-menu.megamenu .container-menu .row-menu .has-child ul.sub-menu {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-section .megamenu-has .megamenu .container-menu .row-menu .has-child ul.sub-menu > li {
        list-style: none;
        flex: 0 0 25%;
    }

    .menu-section .megamenu-has .megamenu .container-menu .row-menu .has-child ul.sub-menu > li > a {
        color: #000;
        display: block;
        margin-bottom: 15px;
    }
    .section-faq .container {
        max-width: 1400px;
    }
    .section-partner .link a {
        padding-left: 40px;
        padding-right: 40px;
    }
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1390px;
    }
    .content-detail > .row > div:nth-child(1) {
        flex: 0 0 36%;
        max-width: 36%;
    }

    .content-detail > .row > div:nth-child(2) {
        flex: 0 0 63%;
        max-width: 63%;
    }
    .section-list-about > .container {
        max-width: 1290px;
    }
    .section-detail-blog .container,
    .section-faq-box-02 .container {
        max-width: 1200px;
    }
    .section-list-news .list-news {
        padding-right: 30px;
    }
    .header-top > .container > .row > div:nth-child(1) {
        flex: 0 0 160px;
        max-width: 160px;
    }

    .header-top > .container > .row > div:nth-child(2) {
        flex-basis: calc(66.66% - 160px);
        max-width: calc(66.66% - 160px);
    }
    .menu-section .content-menu > ul {
        padding-left: 0;
        display: flex;
    }

    .menu-section .content-menu > ul > li {
        list-style: none;
        margin-bottom: 0;
        position: relative;
    }

    .menu-section .content-menu > ul > li > a {
        color: #000;
        font-weight: 700;
        padding-left: 12px;
        padding-right: 12px;
        height: 80px;
        display: inline-block;
        line-height: 80px;
    }
    .section-cart a span {
        top: 0px;
        left: 8px;
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .section-user,
    .section-lang {
        padding-right: 0;
        margin-right: 0;
    }

    .logo img {
        height: 49px;
        object-fit: contain;
    }

    .section-cart {
        margin-left: 8px;
    }

    .section-user > ul > li > a,
    .section-lang > ul > li > a {
        font-size: 12px;
        padding-right: 8px;
    }

    .section-user > ul > li > a i,
    .section-lang > ul > li > a i,
    .section-cart a i {
        font-size: 14px;
    }

    .section-cart a,
    .search-section a {
        font-size: 14px;
    }

    .header-top-mb > .container > .row {
        margin-left: 0;
        margin-right: 0;
    }

    .header-top-mb > .container > .row > div {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-container .btn-menu-mobile {
        font-size: 19px;
        color: #000;
        width: 40px;
        display: inline-block;
    }
    /*menu*/
    .menu-section > .menu-info > .content-menu > ul > li > .entry-menu {
        position: absolute;
        opacity: 0;
        filter: opacity(0);
        visibility: hidden;
        -webkit-transition: all 0.05s ease;
        transition: all 0.05s ease;
        z-index: 17;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }
    .menu-section > .menu-info > .content-menu .has-child > .entry-menu {
        position: static;
        padding: 0;
        min-width: auto;
        width: auto;
        display: none;
        opacity: 1;
        filter: opacity(1);
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .back-drop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0 0 0 / 0%);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        z-index: 100;
        opacity: 0;
        filter: opacity(0);
        visibility: hidden;
    }
    .menu-section {
        position: fixed !important;
        width: 100%;
        top: 80px !important;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: 100;
        background-color: #fff;
        overflow: auto;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        -webkit-transform: translate3d(-100%, 0, 0) !important;
        -moz-transform: translate3d(-100%, 0, 0) !important;
        -ms-transform: translate3d(-100%, 0, 0) !important;
        -o-transform: translate3d(-100%, 0, 0) !important;
        transform: translate3d(-100%, 0, 0) !important;
        -webkit-transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.51, 0.82);
        transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.51, 0.82);
        -webkit-box-shadow: -0.1rem 0 0.3rem rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -0.1rem 0 0.3rem rgba(0, 0, 0, 0.2);
        box-shadow: -0.1rem 0 0.3rem rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .back-drop.show {
        opacity: 1;
        filter: opacity(1);
        visibility: visible;
    }
    .menu-section.show {
        -webkit-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    .menu-top {
        display: block;
        position: relative;
        margin: 20px;
    }

    .menu-section > .menu-info > .content-menu > ul {
        background-color: transparent;
        position: static;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .menu-section > .menu-info > .content-menu > ul li {
        display: block;
        margin-right: 0;
        margin-left: 0;
        position: relative;
    }

    .menu-section > .menu-info > .content-menu > ul li a {
        display: block !important;
        height: 40px;
        line-height: 40px;
        padding: 0 40px 0 20px !important;
        color: #000;
    }
    .menu-section > .menu-info > .content-menu .has-child > .entry-menu {
        position: static;
        padding: 0;
        min-width: auto;
        width: auto;
        display: none;
        opacity: 1;
        filter: opacity(1);
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .menu-section .entry-menu {
        background-color: transparent;
    }
    .menu-section > .menu-info > .content-menu .has-child > .entry-menu {
        position: static;
        padding: 0;
        min-width: auto;
        width: auto;
        display: none;
        opacity: 1;
        filter: opacity(1);
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .menu-section .grower {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        z-index: 1;
        pointer-events: auto;
        color: #c5c5c5;
    }
    .menu-section .has-child {
        position: relative;
    }

    .menu-section .grower::after {
        content: "\f0d7";
        font-family: "Font Awesome 6 Pro";
        vertical-align: bottom;
        font-weight: 900;
    }
    .menu-section .grower.open::after {
        content: "\f0d8";
    }
    ul.menu-login {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }

    ul.menu-login > li {
        list-style: none;
    }

    ul.menu-login > li > a {
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border-radius: 5px;
        background: var(--color-main);
        color: var(--white);
    }

    ul.menu-login > li > a.login {
        background: #d9d9d9;
        color: var(--black);
    }
    .btn-close-menu {
        text-align: right;
        margin-bottom: 15px;
    }

    .btn-close-menu a {
        color: #000;
        font-size: 27px;
    }
    .menu-section > .menu-info > .content-menu .has-child > .entry-menu > li > a {
        padding: 0 40px 0 30px !important;
    }
    .menu-section .download {
        padding: 20px;
    }

    .menu-section .download a {
        background: #d4f3f1;
        height: 56px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black);
    }
    .menu-section .download a i {
        font-size: 20px;
    }
    .pla-color-main::placeholder {
        color: var(--color-main);
    }
    .member {
        display: flex;
        align-items: center;
    }

    .member .avatar img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--color-main);
    }

    .member .avatar {
        margin-right: 15px;
    }

    .member .info {
        flex: 1 1;
    }
    .section-banner-search-top .item-left {
        padding-top: 40px;
    }

    .section-banner-search-top .item-left .slogan {
        font-size: 35px;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    ul.link-app-star li > a > img {
        width: 20px;
    }

    ul.link-app-star > li {
        margin-right: 10px;
    }

    ul.link-app-star span.star {
        margin-right: 10px;
    }

    ul.link-app-star span.star img {
        height: 12px;
    }

    ul.link-app-star span {
        font-size: 12px;
    }

    ul.link-app-star {
        display: flex;
        justify-content: center;
    }

    .section-banner-search-top .item-left p {
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .section-banner-search-top .item-left .form-search {
        margin-bottom: 20px;
    }
    .section-tab-list-sim .content-domain .item-table .nav-tabs > li.nav-item > .nav-link {
        padding: 10px 10px 10px;
        border-radius: 5px !important;
        border: 0 !important;
        font-size: 13px;
        font-weight: 500;
    }

    .section-tab-list-sim .content-domain .item-table .nav-tabs > li.nav-item > .nav-link.active {
        background-color: #e7e7e7;
    }

    .section-tab-list-sim .content-domain .item-table .nav-tabs {
        top: -45px;
    }

    .info-sim .title-tab {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .info-sim .list .item {
        margin-bottom: 10px;
    }
    .info-sim .list .item {
        margin-bottom: 10px;
    }

    .section-tab-list-sim {
        padding-bottom: 30px;
    }

    .section-tab-list-sim .item-table .tab-content {
        margin-top: -15px;
    }
    .section-banner-search-top {
        padding-bottom: 60px;
    }
    .section-step {
        padding-top: 10px;
    }

    .section-step .content-top .link-view {
        margin-bottom: 20px;
    }

    .section-step .content-top .title {
        font-size: 12px;
    }

    .title-section {
        font-size: 22px;
    }

    .section-step .content-top .list-step {
        margin-top: 30px;
    }

    .section-step .content-top .list-step .item .info .description {
        font-size: 14px;
    }

    .section-step .content-top .list-step .item .info .name {
        font-size: 16px;
    }

    .section-step .content-top {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .section-hdiw {
        padding-bottom: 0;
        padding-top: 10px;
    }

    .section-hdiw .content-bottom .item {
        margin-bottom: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
        margin: 20px 20px;
        border-radius: 20px;
        padding: 20px;
    }

    .section-hdiw .content-bottom .item .name {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .section-hdiw .content-bottom .item .description {
        font-size: 15px;
    }

    .section-hdiw .content-bottom .item .icon {
        margin-bottom: 10px;
    }
    .section-benefit {
        padding-top: 0;
        padding-bottom: 30px;
    }
    .section-benefit .info .list .item {
        background: #f3f3f3;
        padding: 15px;
        border-radius: 10px;
    }

    .section-benefit .info .list .item .name-description .description {
        font-size: 14px;
    }
    .section-customer-reviews {
        padding: 0 0 30px;
    }

    .section-customer-reviews .title-section {
        margin: 0 auto 10px;
        font-size: 16px;
    }

    .section-customer-reviews .item-info .item .description {
        font-size: 14px;
    }
    .section-video .item-video {
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-video {
        margin-bottom: 30px;
    }
    .section-faq {
        margin-bottom: 0;
    }

    .section-dowload-app {
        padding: 40px 0;
    }

    .section-dowload-app .content .row > div:nth-child(1) {
        order: 1;
    }

    .section-dowload-app .content .info {
        text-align: center;
        margin-top: 20px;
    }

    .section-dowload-app .content .info .title-section {
        font-size: 20px;
    }

    .section-dowload-app .content .info .slogan-section {
        font-size: 14px;
    }

    .section-dowload-app .content .info ul.dowload-app {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-dowload-app .content .info ul.dowload-app > li:last-child {
        margin-right: 0;
    }
    .content-detail .info-detail-right .name {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .content-detail .info-detail-right .star span.left {
        font-size: 14px;
    }

    .content-detail .info-detail-right .star span.center i {
        font-size: 8px;
        padding: 3px;
        margin-right: 2px;
    }

    .content-detail .info-detail-right .price span.inter {
        font-size: 20px;
    }

    .content-detail .info-detail-right .price span {
        font-size: 15px;
    }

    .content-detail .info-detail-right .star span.right {
        font-size: 14px;
    }

    .content-detail .info-detail-right .nation .btn {
        font-size: 14px;
    }

    .content-detail .info-detail-right .detail-top {
        margin-bottom: 20px;
    }

    .content-detail .info-detail-right .nation {
        margin-bottom: 25px;
    }

    .content-detail .info-detail-right .attribute-cart .top span.title {
        font-size: 20px;
    }
    .section-detail-product {
        margin-bottom: 30px;
    }
    .btn-login a {
        display: inline-block;
        border: 1px solid #b1b1b1;
        color: #676767;
        padding: 7px 20px;
        border-radius: 10px;
    }
    
    .menu-section .menu-info .content-menu {
        margin-bottom: 30px;
    }
    .section-customer-reviews.page-about {
        padding: 20px 0 30px;
    }
    .section-banner, .section-contant-form, .section-contact-map {
        margin-bottom: 40px;
    }
    .section-404 .content .title {
        font-size: 110px;
        letter-spacing: 20px;
    }

    .section-404 .content .title-02 {
        font-size: 25px;
    }

    .section-404 .content .description {
        font-size: 16px;
    }

    .section-404 .content .slogan {
        font-size: 14px;
    }

    .section-404 .content {
        padding: 40px 0px 60px;
    }
    .section-banner-news .content .info .top {
        background: #fff;
        padding: 10px;
    }

    .section-banner-news .content .info {
        width: 215px;
    }

    .section-banner-news .content .title {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .section-banner-news .content .info .img-before {
        height: 24px;
    }

    .section-list-news {
        padding: 40px 0 0;
    }
    .section-news-hot {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .section-detail-blog {
        padding: 40px 0;
    }

    .info-detail-blog .title-section {
        font-size: 40px;
    }

    .info-detail-blog .top .description {
        font-size: 18px;
    }
    .section-star-detail {
        margin-bottom: 0;
    }
    .section-faq.faq-page-xlsc {
        padding-top: 10px;
    }
    .section-search-faq .content .slogan-section p {
        font-size: 14px;
    }

    .section-search-faq {
        padding: 30px 0;
    }

    .section-search-faq .content .slogan-section {
        margin-bottom: 20px;
    }

    .section-search-faq .content .form-search .info-form-search input.form-control {
        margin-left: 0;
    }
    .section-faq-box-02 {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .section-faq-box-02 .info .item .icon img {
        width: 139px;
        height: 137px;
    }
    .detail-faq {
        padding: 10px 10px 10px;
    }

    .detail-faq .title i {
        font-size: 15px;
        margin-right: 10px;
    }

    .detail-faq .title h1 {
        font-size: 16px;
    }

    .detail-faq .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .detail-faq-feedback .title-section {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .detail-faq-feedback {
        padding: 20px;
        margin-bottom: 30px;
    }

    .section-similar-questions {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .section-tab-list-sim .link-view {
        margin-top: 15px;
    }

    .link-view a {
        width: 100%;
    }
    .content-detail .info-detail-right .attribute-cart .bottom .add-to-cart {
        margin-top: 15px;
    }
    

    .section-description-detail .content-detail {
        padding: 15px;
    }
    .section-description-detail .content > .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: normal;
    }
    
    .section-description-detail .content > .nav > li.nav-item > a {
        white-space: nowrap;
        font-size: 14px;
        padding: 10px 20px;
    }
    .section-list-about .content > .row:nth-child(2n + 1) > div:nth-child(1) {
        order: inherit;
    }

    html, body {
        font-size: 14px;
    }
    .section-banner-news .content .info .link .btn {
        padding: 8px 15px;
    }
    .section-list-partner .list-partner .image {
        padding-top: 50%;
        margin-bottom: 20px;
    }

    .section-list-partner .list-partner .row:nth-child(2n + 2) > div:nth-child(1) {
        order: initial;
    }
    .section-why-partner-center .content>.row>div:nth-child(1) {
        order: 1;
    }

    .section-why-partner-center .content .image {
        padding-top: 70%;
        margin-bottom: 20px;
    }

    .section-why-partner-center .content .image img {
        object-fit: contain;
    }

    .link-partner a {
        font-size: 12px;
    }

    .section-list-partner .link-partner .btn {
        font-size: 12px;
    }
    .section-list-cart .cart-left .table tbody>tr>td {
        display: flex;
        justify-content: space-between;
    }
    .section-list-cart .cart-left .table tbody>tr>td .item-right {
        flex: 0 0 100px;
        max-width: 100px;
        text-align: right;
    }

    .section-list-cart .cart-left .table tbody>tr>td .item-right input {
        width: 50px;
        max-width: 50px;
    }
    .section-list-cart .cart-left {
        margin-bottom: 30px;
    }
    .section-discount .info .input-discount .btn {
        flex: 0 0 143px;
        font-size: 10px;
    }

    .section-discount .info .input-discount .input-group {
        flex-basis: calc(100% - 150px);
        max-width: calc(100% - 150px);
        padding-right: 5px;
    }

    .section-discount .info .input-discount {
        padding: 15px;
    }
    .section-discount {
        padding-top: 50px;
    }
    .section-payment-app .content {
        padding: 30px 15px 5px;
    }
    
    .btn-payment .btn {
        margin-bottom: 10px;
        padding: 10px;
    }
    .sectio-detail-payment .info-payment-left .title {
        font-size: 19px;
    }
    
    .info-payment-left {
        margin-bottom: 30px;
    }
}
@media (min-width: 1300px) and (max-width: 1500px){
    .menu-section .content-menu > ul > li > a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .section-user > ul > li > a, .section-lang > ul > li > a {
        font-size: 13px;
    }

    .section-user, .section-lang {
        padding-right: 15px;
        margin-right: 15px;
    }

    .section-user > ul > li > a i, .section-lang > ul > li > a i {
        font-size: 14px;
    }

    .section-cart a, .search-section a {
        font-size: 14px;
    }

    .section-cart {
        margin-left: 20px;
    }
    .header-top > .container > .row > div:nth-child(1) {
        flex: 0 0 135px;
        max-width: 135px;
    }

    .header-top > .container > .row > div:nth-child(2) {
        flex-basis: calc(70% - 135px);
        max-width: calc(70% - 135px);
    }
    .header-top > .container > .row > div:nth-child(3) {
        flex: 0 0 30%;
        max-width: 30%;
    }
     .logo img {
        height: 100px;
        object-fit: contain;
    }
}

@media (min-width: 1200px) and (max-width: 1300px){
    .menu-section .content-menu > ul > li > a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .section-user > ul > li > a, .section-lang > ul > li > a {
        font-size: 13px;
    }

    .section-user, .section-lang {
        padding-right: 10px;
        margin-right: 10px;
    }

    .section-user > ul > li > a i, .section-lang > ul > li > a i {
        font-size: 14px;
    }

    .section-cart a, .search-section a {
        font-size: 14px;
    }

    .section-cart {
        margin-left: 15px;
    }
    .header-top > .container > .row > div:nth-child(1) {
        flex: 0 0 135px;
        max-width: 135px;
    }

    .header-top > .container > .row > div:nth-child(2) {
        flex-basis: calc(70% - 135px);
        max-width: calc(70% - 135px);
    }
    .header-top > .container > .row > div:nth-child(3) {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .logo img {
        height: 100px;
        object-fit: contain;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .d-lg-block {
        display: none!important;
    }
    .d-lg-none {
        display: block !important;
    }
    .section-hdiw .content-bottom .item {
        margin: 15px 10px;
    }
}

@media (min-width: 767px) and (max-width: 1200px){
    .link-view a {
        max-width: 300px;
    }
    .section-tab-list-sim .info-sim .link-view {
        margin-top: 20px;
    }
    .section-hdiw .content-bottom {
        margin-bottom: 5px;
    }
    .section-user > ul > li > a, .section-lang > ul > li > a {
        font-size: 14px;
    }

    .section-cart {
        margin-left: 12px;
    }

    .section-user > ul > li > a, .section-lang > ul > li > a {
        font-size: 14px;
        padding-right: 12px;
    }
    .section-description-detail .content > .nav > li.nav-item > a {
        padding: 10px 15px;
        font-size: 14px;
    }
    .ask-questions button.accordion-button {
        font-size: 14px;
    }

    .section-description-detail .content-detail {
        padding: 30px;
        font-size: 14px;
    }
}


@media (max-width: 1200px){
    .header-top .logo {
        text-align: center;
    }
    .menu-container .btn-menu-mobile.show .close {
        display: inline-block;
    }

    .menu-container .btn-menu-mobile .close , .menu-container .btn-menu-mobile.show .list, .menu-container .btn-menu-mobile:after{
        display: inline-block;
    }
    .item-footer-center-mb .fanpage {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    
    .item-list-footer {
        padding-bottom: 0;
        margin-bottom: 30px;
        border-bottom: 0;
    }
    
    ul.list-menu-footer>li {
        flex: 0 0 50%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    .section-footer-top {
        padding: 30px 0 10px;
    }
    
    
    .section-footer-bottom .item-footer-bottom>ul>li>a>img {
        height: 30px;
    }
    
    .section-footer-bottom .item-footer-bottom>ul>li {
        margin-right: 20px;
    }
    .item-toobar {
        box-shadow: 0 -10px 10px -4px rgba(0, 0, 0, 0.08);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        background: #fff;
    }

    .item-toobar>ul {
        padding-left: 0;
        display: flex;
    }

    .item-toobar>ul>li {
        list-style: none;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .item-toobar>ul>li>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        color: #2c3e50;
        opacity: 0.5;
        font-size: 12px;
        padding-bottom: 5px;
    }

    .item-toobar>ul>li>a img {
        height: 22px;
        width: 22px;
        object-fit: contain;
        margin-bottom: 3px;
    }

    body {
        margin-bottom: 58px;
    }
    .accordion-item.item-menu-footer .title-footer {
        margin-bottom: 0;
        padding: 15px 0;
        background: none;
        font-size: 16px;
        color: #000;
    }
    
    .accordion-item.item-menu-footer {
        border: 0;
        border-bottom: 1px solid #ddd;
        background: none;
    }
    
    .accordion-item.item-menu-footer .accordion-collapse {
        padding-top: 15px;
    }
    
    .accordion-item.item-menu-footer .accordion-collapse>ul {
        padding-left: 0;
    }
    
    .accordion-item.item-menu-footer .accordion-collapse>ul>li>a {
        color: #000;
        margin-bottom: 15px;
        display: inline-block;
    }
    .menu-container .btn-menu-mobile.collapsed .close {
        display: none;
    }
    
    .menu-container .btn-menu-mobile .list {
        display: none;
    }
    
    .menu-container .btn-menu-mobile .collapsed .list {
        display: inline-block;
    }
    
    .menu-container .btn-menu-mobile.collapsed .list {
        display: inline-block;
    }
    .menu-section > .menu-info > .content-menu .has-child > .entry-menu.show {
        display: block;
    }
    .header-top-mb {
        position: fixed;
        width: 100%;
        height: 80px;
        background: #fff;
        z-index: 99;
        top: 0;
    }
    
    header {
        padding-top: 80px;
    }
    .section-faq-deatil-product {
        margin-bottom: 30px;
    }
    div::-webkit-scrollbar,
    ul::-webkit-scrollbar{
      display:none;
    }
    .item-attribute .form-check label.form-check-label {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
    }

    .item-attribute .form-check label.form-check-label span.name {
        margin-bottom: 5px;
    }
    .section-detail-product {
        margin-bottom: 30px;
    }
    .info-detail-right {
        margin-top: 20px;
    }
    .section-list-partner .list-partner .info .title-section {
        font-size: 20px;
    }
    .section-support {
        padding-top: 0;
        margin-bottom: 30px;
    }
    .breadcrumb.breadcrumb-banner .content .title {
        font-size: 27px;
    }

    .breadcrumb.breadcrumb-banner .content .description {
        font-size: 17px;
    }

    .section-compatible-devices .item-tab .nav-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: normal;
        border-bottom: 0;
    }

    .section-compatible-devices .item-tab .nav-tabs .nav-item {
        flex: auto;
        max-width: inherit;
    }

    .section-compatible-devices .item-tab .nav-tabs .nav-item>a {
        margin-bottom: 0;
        border-radius: 5px;
        min-width: 150px;
    }
    .breadcrumb.breadcrumb-banner .content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-compatible-devices .item-tab .title {
        font-size: 20px;
    }
}

